<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ab.farm">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.ContactUs" />
        <activity android:name=".Activities.Map" />
        <activity android:name=".Activities.AboutUS" />
        <activity android:name=".Activities.Level" />
        <activity android:name=".Activities.Weed" />
        <activity android:name=".Activities.Crop" />
        <activity android:name=".Activities.Mode" />
        <activity android:name=".Activities.Live" />
        <activity android:name=".HomeScreen" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJ_dM6eN5EJU6FKMfOfiKzClEsNfa2fMs" />

<!--        AIzaSyC9bRCU6cuu-XWUkbTheC0135crVvc7Oj0-->
        <!-- new  AIzaSyDJ_dM6eN5EJU6FKMfOfiKzClEsNfa2fMs -->


    </application>



</manifest>